img {
  display: flex;
  width: 100px;
  height: 100px;
  margin-left: 62%;
  position: relative;
}

.logomu {
  left: 12%;
  width: 168px;
  height: 163px;
  top: -4%;
}
.logods {
  width: 236px;
  height: auto;
 
}