img {
  display: flex;
  width: 100px;
  height: 100px;
  margin-left: 62%;
  position: relative;
}

.logomu {
  left: 12%;
  width: 100px;
  height: 163px;
  top: 2%;
}
.logods {
  width: 172px;
  height: auto;
  margin-top: 45px;
}
.btn {
  background: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 60px;
  bottom: 30%;
  font-weight: bolder;
  left: 31%;
  margin-top: 40rem;
  text-decoration: inherit;
  padding: 40px;
  height: 10px;
  position: relative;
  display: flex;
  align-items: center;

}

.title{
  position: absolute;
  top: 27%;
  left: 81%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 2.1rem;
  width: 28rem;
  line-height: 35px;
}

.background {
  position: absolute;
  left: 60%;
  width: 40%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
}
.logoutbtn {
  position: fixed;
  display: flex;
  width: fit-content;
  padding: 1rem;
  font-size: 1.7rem;
  margin-left: 1rem;
  bottom: 1rem;
  border-radius: 2rem;
  background-color: rgb(212, 0, 14);
  color: white;
  border: none;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 767px) {
  img {
    width: 60px;
    height: 60px;
    margin:auto;
    top:10%;
  }

  .logomu {
    left: 30%;
    width: 5rem;
    height: 5rem;
    top: 4%;
  }

  .logods {
    width: 120px;
    top:-6%;
  }

  .btn {
    font-size: 1rem;
    border-radius: 40px;
    left: auto;
    margin-top: 25rem;
    padding: 20px;
    height: 8px;
  }

  .title {
    top: 29%;
    left: 50%;
    font-size: 1.8rem;
    width: 22rem;
    line-height: 30px;
  }
  .background {
    position: absolute;
    width: 100vw;
   
    left: auto;
  }
}

/* Estilos para pantallas medianas */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  img {
    width: 80px;
    height: 80px;
    margin-left: 30%;
  }

  .logomu {
    left: 13rem;
    width: 6rem;
    height: 6rem;
    top: -7rem;
  }

  .logods {
    width: 9rem;
    margin-left: 36.5rem;
    margin-right: auto;
    top: -5rem;
  }

  .btn {
    font-size: 1.2rem;
    border-radius: 50px;
    left: 31%;
    margin-top: 35rem;
    padding: 30px;
    height: 8px;
  }

  .title {
    top: 27%;
    left: 80%;
    font-size: 1.5rem;
    width: 17rem;
    line-height: 35px;
  }
}
